.usa-table td{
    background-color: #ecf3ec !important;
}
.usa-table th{
    background-color: #b4d0b9 !important;
}
.usa-legend--large {
    white-space: nowrap;
}
.usa-card__container {
    border-color: "#dfe1e2" !important;
    border-width: 1px !important;
    border-radius: 0rem !important;
}
.usa-card-group {
    display: contents !important;
}
.usa-table {
    margin: 0 !important;
}
.usa-form {
    max-width: 25rem !important;
}