.usa-card-group {
    display: contents !important;
}
.usa-nav-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.grid-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.grid-row.grid-gap-6 {
    margin-left: -5rem !important;
    margin-right: -5rem !important;
}